venv/
.env

__pycache__/
.ipynb_checkpoints/

*.pyc
*.log
# Raw data
data/raw/*.csv

# Environment
venv/
.env

# Python
__pycache__/
*.pyc

# Logs
*.log
# Feature Store Outputs
data/feature_store/*.csv

# Forecast Exports (keep if desired)
# data/exports/*.csv

# Model Artifacts
*.pkl