pandas==2.2.2
numpy==1.26.4

matplotlib==3.10.5
seaborn==0.13.2
plotly==6.7.0

scikit-learn==1.4.2
xgboost==2.0.3

sqlalchemy==2.0.41
psycopg2-binary==2.9.10

jupyter==1.1.1
openpyxl==3.1.5

statsmodels==0.14.5
prophet==1.1.7

python-dotenv==1.2.1
missingno==0.5.2